:root {
    --carousel-provider-name: #B24C61;
    --carousel-provider-description: #bb5c70;
    --carousel-background: #F5E3E5;
}

.dark-theme {
    --carousel-provider-name: #EDEDF5;
    --carousel-provider-description: #dbdbe7;
    --carousel-background: #101627;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.carousel-container {
    width: 80%;
    margin: 50px auto;
    position: relative;
}
.inner-carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    align-items: center;
}
.card {
    width: 490px;
    height: 250px; /* Общая высота карточки */
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--carousel-background);
    margin-right: 20px;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное деление */
}

.card-image-container {
    flex: 0 0 45%; /* Картинка занимает 40% высоты карточки */
    position: relative;
    overflow: hidden; /* Убираем лишнее, если картинка выходит за границы */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Картинка масштабируется, сохраняя пропорции */
    object-position: center; /* Центрируем картинку */
}

.card-content {
    flex: 0 0 60%; /* Текст занимает 60% высоты карточки */
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем текст */
    background-color: var(--carousel-background); /* Фон текста */
    overflow: hidden; /* Убираем переполнение текста */
}

.card-title {
    font-size: 18px;
    font-weight: 550;
    color: var(--carousel-provider-name);
    margin-bottom: 8px;
    white-space: nowrap; /* Текст в одну строку */
    overflow: hidden; /* Обрезаем текст */
    text-overflow: ellipsis; /* Добавляем троеточие */
}

.card-description {
    font-size: 14px;
    color: var(--carousel-provider-description);
    overflow: hidden;
    text-overflow: ellipsis; /* Троеточие для длинного текста */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничиваем текст двумя строками */
    -webkit-box-orient: vertical;
}

.card-rating {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
}

.card-rating .rating {
    color: var(--carousel-provider-name);
    font-weight: bold;
    margin-right: 10px;
}

.star {
    font-size: 15px;
    color: #f39c12;
}
.nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
}
.nav .prev {
    left: -30px;
    display: none;
}
.nav .prev.show {
    display: block;
}
.nav .next {
    right: -30px;
}
.nav .next.hide {
    display: none;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60vh;
    width: 100%;
}

.card-header {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 8px;
}

.card-header span {
    font-size: 12px;
    font-weight: 500;
    padding: 3px 7px;
    border-radius: 60px;
    color: var(--carousel-provider-name);
    border: 1px solid var(--carousel-provider-name);
}