:root {
    --background: #f5dfe1;
    --header-color: #B24C61;
    --link-color: #494949;
}

.dark-theme {
    --background: #070B12;
    --header-color: #959EBF;
    --link-color: white;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
}

.footer-content {
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}


.footer-content p {
    color: var(--header-color);
    font-size: 20px;
    font-weight: 500;
}

.footer-content a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.footer-content li::before {
    content: "\2022";
    color: var(--link-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.footer-content li {
    margin-bottom: 10px;
}