/* frontend/src/assets/styles/Footer.css */
:root {
    --footer-background: #f5dfe1;
    --footer-header-color: #B24C61;
    --footer-link-color: #494949;
}

.dark-theme {
    --footer-background: #070B12;
    --footer-header-color: #959EBF;
    --footer-link-color: white;
}

.footer-container {
    background-color: var(--footer-background);
    width: 100%;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-content p {
    color: var(--footer-header-color);
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-content a {
    color: var(--footer-link-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.footer-content li::before {
    content: "\2022";
    color: var(--footer-link-color);
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.footer-content li {
    margin-bottom: 10px;
}