/*.container {*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*}*/

.homepage-image img {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 100px;
    place-items: center;
    user-select: none;
}

.image-text-l {
    font-size: 300px;
    font-weight: 550;
    color: #fad1de;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: -11%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    overflow-y: hidden;
    user-select: none;
}

.homepage-text {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует элементы по горизонтали */
    width: 100%; /* Убедитесь, что элемент занимает всю ширину экрана */
    position: relative;
    text-align: left; /* Это выравнивание для всех потомков */
}

.homepage-text-h {
    margin: 0;
    padding: 0;
    position: absolute; /* Абсолютное позиционирование для дочерних элементов */
    left: 50%;
    transform: translateX(-50%); /* Центрирование по горизонтали */
}

.first-text {
    font-size: 100px;
    color: #EC9A9C;
    z-index: 0; /* Установите z-index, чтобы управлять порядком наложения элементов */
}

.second-text {
    font-size: 150px;
    color: #B24C61;
    z-index: 1; /* Установите z-index, чтобы управлять порядком наложения элементов */
}