:root {
    --navbar-header-color: #B24C61;
    --navbar-text-color: #494949;
    --navbar-bg-color: white;
    --navbar-hover-bg-color: #f1f1f1;
}

.dark-theme {
    --navbar-header-color: #959EBF;
    --navbar-text-color: #e0e0e0;
    --navbar-bg-color: #1e1e1e;
    --navbar-hover-bg-color: #333333;
}

.navbar-container {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin: 20px 0 0 80px;
}

.navbar-links a, .navbar-buttons a {
    color: var(--navbar-text-color);
    text-decoration: none;
    margin-right: 25px;
    background-color: var(--navbar-bg-color);
    padding: 10px 15px;
    border-radius: 60px;
}

.navbar-links a:hover {
    color: var(--navbar-text-color);
    background-color: var(--navbar-hover-bg-color);
}

.navbar-links a i, .navbar-buttons a i {
    margin-right: 10px;
}

.navbar-buttons button, .navbar-buttons a {
    color: var(--navbar-text-color);
    background-color: var(--navbar-bg-color);
    border: 0;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-right: 25px;
    border-radius: 60px;
}

.navbar-buttons button:hover {
    background-color: var(--navbar-hover-bg-color);
}

.change-theme {
    width: 47px;
    height: 42px;
}

.dropdown-header {
    padding: 5px 15px;
    font-weight: 550 !important;
    font-size: 1.1rem !important;
    color: var(--navbar-header-color);
    cursor: default;
}

.dropdown-menu {
    margin-top: 10px;
    margin-left: 56px !important;
    background-color: var(--navbar-bg-color) !important;
    color: var(--navbar-text-color) !important;
    min-width: 160px;
    z-index: 1;
}